@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// ---Notes---
// The clearfix mixin fixes an issue where when using floats the parent element's height will collapse.
// It creates a pseudo element that goes after the parent and takes its place.

// For absCenter, you take an element and position it as absolute inside the parent element.
// The parent element has to be set as relative, and it helps to set top and left to 0 in the parent to set the point of origin, even though it's the default.
// Then you apply the mixin in the child element, it places the top left corner of the child element 50% from the top and 50% from the left of the parent.
// The point of origin for translate is the center of the current element. So the -50 -50 takes the center of the current element and shift it
// -50% in both the X and Y direction. Essentially centering the element perfectly.




// Media Query Manager
// 0px - 600px =     Phone
// 600px - 900px =   Tablet Portrait
// 900px - 1200px =  Tablet Landscape
// 1200px - 1800px = Normal Styles Apply
// 1800px + =        Big Desktop

// $breakpoint argument choices:
// - phone
// - tab-port
// - tab-land
// - big-desktop

// 1em = 16px always for media queries.
// rems and ems are not affected by default font size set in html. ems are more performant for media queries.

// ORDER: Base + typography > general layout + grid > page layout > components

// Content is passed in wherever this mixin is used in the form of a code block.

@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media (max-width: 25em) { @content }; //400px
  }
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }; //600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content }; //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content; } //1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content }; //1800+px
  }  
}
