.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0deg);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0deg);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);;
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(.3rem) brightness(80%);
  }
}

// --- Notes ---
// float: left on shape allows it to float to th eleft of the text within the parent element.
// shape outside only works if the element is floated and has defined dimenstions. width/height etc.
// shape-outside: circle(50% at 50% 50%); The first number is the radius. Which will be 7.5 both for height and width.
// If the radius is 7.5, that means the diameter of the circle will be 15rem.
// The 2nd and 3rd numbers indicate the center of the circle for both height and width, which are also the same, 50%, or at the 7.5rem point.

// The story element is skewed -12deg on the x axis for the sideways box effect.
// The rest of the content inside has to be skewed back 12deg to compensate for that.
// Since there is already a transform applied to the shape, you can't use the select all direct children, since only a single transform can be applied to an element.
// Instead it's just applied to the text and shape individually.

// The image is a bit off center, so the translateX-4rem centers it inside its box.
// backface-visiblity hidden fixes a weird glitch that causes the image to be oval.


// in caption, backface-visiblity hidden helps fix a glitch where text slides in then repositions itself like 1px.
// When the box is hovered over, the caption becomes visible and is centered.
// Also when hovered the image is scaled back to normal size to give a zoom out effect and a blur is applied.
