body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;

  /* Setting font-values in the body allows all child elements to inherit them.
     Padding will not be inherited.
  */
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  /* backface-visibility: hidden;  This property fixes the issue where sometimes after an animation the text appears to bounce back to center a little. */

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    padding-left: 3.5rem;
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  
    /* animation-delay: 3s;  this property can be used to delay the animation from happening when you load the page.
       animation-iteration-count: 3;  this property will cause the animation to play a set amount of times.
    */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    padding-left: 1.74rem;
  
    animation: moveInRight 1s ease-out;
    /*  You can write all of the below code in one line like above.
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}



// --- Typography Notes ---
// -webkit-background-clip: text; will clip the background to where the text sits, essentially cutting holes for the text.
// then you cna make the text color transparent to have the background show through.

// text-shadow: .5rem 1rem 2rem rgba($color-black, .2);  X, Y, Blur, Color of shadow
